#root {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10%;
  text-align: center;
}

.pokemon-card-list-right{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  overflow-y: scroll;
  height: 20rem;
}

.pokemon-card-list-left{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}
.left-image-and-buttons{
  display: flex;
  justify-content: right;
  align-items: center;
}

.left-button-div{
  display: flex;
  flex-direction: column;
}

.pokemon.card{
  display:flex;
  justify-content: end;
}

.pokemon-card img, h2, div{
  margin: 0;
}

.pokemon-card h2{
  margin-top: -1rem;
}



.left-pokemon-name-input{
  margin: 7% auto;
}

.search-bar{
  margin-top: -2rem;
}