.pokemon-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-gap: 10px;
  gap: 2px;
  min-height: 200px;
  max-height: 400px;
  overflow-y: scroll;
}

.pokemon-icon{
  width:100px;
  height: 100px;
}

.pokemon-icon-big{
  width:80px;
  padding: 0 10px;
  height:131px;
}

.pokemon-icon-preview{
  width:200px;
  height:300px;
  padding: 0 100px; 
}


.icon-div{
  width: 100px;
  margin: 0 auto;
  background-color: rgba(128, 128, 128, 1);
  border-radius: 5%;
}

.pokemon-card{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0px;
  background-color: rgba(128, 128, 128, 1);
  letter-spacing: 0px;
  font-size: 0.7em;
  text-align: center;
  border-radius: 5%;
}

.card-buttons{
  display: flex;
  margin: auto;
  width: min-content;
}

.main-container{
  margin: 5% auto;
  width:90%;
  border:10px solid pink;
  display:flex;
  flex-direction: row;
  
}

.my-list{ /* LEFT SIDE HOVER FALSE*/
  background-color: red;
  height: 400px;
  width:500px;
  margin-top:21px;
}

.pokemon-preview{ /* LEFT SIDE HOVER TRUE*/
  background-color: red;
  height: 400px;
  width:500px;
  margin-top:21px;
}

.pokemon-details{
  display: flex;
  background-color: orangered;
}

.pokemon-details-text{
  display: flex;
  flex-direction: column;
  background-color: orange;
}









/*
  ____________________________________________________________________________________________

  PokeballBorder
  border-radius: 100%;
  border-right: 2px white solid;
  border-left: 2px red solid;
  border-top: 2px red solid;
  border-bottom: 2px white solid;
   */